.slick-active.slick-center.slick-current {

    .parent-box {
        img {
            background: linear-gradient(130deg, #24223e, #282642);
            transform: scale(1.25);
            filter: drop-shadow(0 5px 20px rgba(127, 118, 179, .1));
            padding: 10px;
            border-radius: 14px;
            color: #fff;
        }

        h4 {
            margin-top: 12px;
        }
    }

   

}

.nav-slider {

    .parent-box {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        filter: drop-shadow(0 5px 20px rgba(127, 118, 179, .1));

        margin-top: 25px;

        img {
            filter: drop-shadow(0 5px 20px rgba(127, 118, 179, .1));
            padding: 10px;
            border-radius: 14px;
        }

        h4 {
            margin-top: 12px;
        }
    }
}

.slick-slide {
    // transition: all 0.3s;
    text-align: center;
}

.image-slider-container {
    margin: 0 auto;
    width: 400px;
}

.main-banner {
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 14px;
    background: linear-gradient(#fff, hsla(0, 0%, 100%, 0)) padding-box, linear-gradient(90deg, #45c4f9, #ff0be5) border-box;
}

.box-text {
    color: #7b73ae;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    text-align: center;
}

.main-banner {
    margin-top: 5%;
}