.slick-active.slick-center.slick-current {
    .parent-box {
        background: linear-gradient(130deg, #24223e, #282642);
        border-radius: 14px;
        transform: scale(1.25);
        text-align: center;

        svg {
            fill: #fff;
        }
    }
}

.nav-slider {
    max-width: 1160px;
    margin: 0 auto;

    .child-coverup {

        .parent-box {
            cursor: pointer;
            display: flex !important;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 42%;
            filter: drop-shadow(0 5px 20px rgba(127, 118, 179, .1));
            padding: 10px;
            margin: 10px auto 10px;

            svg {
                max-block-size: 32px;
            }

            h4 {
                margin-top: 12px;
            }
        }
    }

    .box-text {
        color: #7b73ae;
        font-weight: 500;
        line-height: normal;
    }
}

.slick-slide {
    // transition: all 0.3s;
    text-align: center;
}

.image-slider-container {
    margin: 0 auto;
    width: 400px;
}

.slider-container {
    position: relative;
    z-index: 2;
}

.main-banner {
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 14px;
    background: linear-gradient(#fff, hsla(0, 0%, 100%, 0)) padding-box, linear-gradient(90deg, #45c4f9, #ff0be5) border-box;
}



.main-banner {
    margin-top: 5%;
    max-width: 1160px;
    margin: 2% auto 0;
}

.CuHomeTabs_svgLeft__NRC_E {
    inset-inline-start: -110px;
    inset-block-start: -5px;
    position: absolute;
    z-index: 1;
    left: 165px;
    top: 62px;
}

.CuHomeTabs_svgRight__Cw476 {
    inset-block-start: -10px;
    position: absolute;
    z-index: 1;
    bottom: -160px;
    right: 100px;
    top: 70px;
}

.slider-comp {
    position: relative;
}