.pricing-main {
    max-width: 1070px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    text-align: center;

    h1 {
        font-size: 3rem;
        font-weight: 900;
        width: 72%;
        margin: 0 auto;
        word-wrap: break-word;
        line-height: 1.243902439;
        margin-top: 5%;
    }

    .para {
        color: #7f76b3;
        font-size: 15px;
        margin: 10px auto;
        // font-family: Axiforma;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;
        border-radius: 5px;

        .card {
            width: 24%;
            padding: 25px 30px;
            text-align: center;
            border-radius: 10px;
            border: 1px solid;
            height: calc(100% - 50%);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

            &.card1 {
                h2 {
                    color: rgb(0, 184, 132);
                }

                h1 {
                    color: rgb(0, 184, 132);
                }

                button {
                    background-color: rgb(0, 184, 132);

                }
            }

            &.card2 {
                h2 {
                    color: rgb(250, 18, 227);
                }

                h1 {
                    color: rgb(250, 18, 227);
                }

                button {
                    background-color: rgb(250, 18, 227);
                    box-shadow: 0 3px 5px 0 rgba(67, 46, 134, .05);
                }
            }

            &.card3 {
                h2 {
                    color: rgb(31, 124, 255);
                }

                h1 {
                    color: rgb(31, 124, 255);
                }

                button {
                    background-color: rgb(31, 124, 255);
                }

            }

            &.card4 {
                h2 {
                    color: rgb(44, 42, 65);
                }

                h1 {
                    color: rgb(44, 42, 65);
                }

                button {
                    background-color: rgb(44, 42, 65);
                }
            }

            h2 {
                font-weight: 900;
                font-size: 1.5rem;
                text-align: left;
                line-height: 27px;
                text-transform: capitalize;
                margin-bottom: 10px;
            }

            p {
                text-align: left;
            }

            button {
                padding: 10px 20px;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 700;
                // position: absolute;
                // bottom: 0;
            }

            ul {
                margin: 20px 0;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        margin-right: 10px;
                        width: 14px;
                        height: auto;
                    }
                }
            }

            h5 {
                margin: 10px 0;
            }

            h1 {
                position: relative;

                span {
                    position: absolute;
                    top: 7px;
                    font-size: 1.5rem;
                    left: 15px;
                }
            }

        }
    }
}

@media screen and (max-width: 768px) {
    .pricing-main {
        h1 {
            font-size: 2.5rem;
            width: 90%;
        }

        .cards {
            .card {
                width: 90%;
                margin: 10px auto;

                h1 {
                    span {
                        left: 64px;
                    }
                }
            }
        }
    }


}